<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="lukelunix.ntnugo"
    android:versionCode="5"
    android:versionName="1.2.2">

    <uses-permission android:name="android.permission.INTERNET" />
    <uses-permission android:name="android.permission.ACCESS_NETWORK_STATE" />
    <uses-permission android:name="android.permission.ACCESS_GPS" />
    <uses-permission android:name="android.permission.ACCESS_ASSISTED_GPS" />
    <uses-permission android:name="android.permission.ACCESS_LOCATION" />
    <uses-permission android:name="android.permission.ACCESS_COARSE_LOCATION"/>
    <uses-permission android:name="android.permission.ACCESS_FINE_LOCATION"/>

    <application
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:supportsRtl="true"
        android:theme="@style/AppTheme">
        //==========================================================================================
        //Splash Screen
        <activity
            android:name="lukelunix.ntnugo.mainmenu.SplashActivity"
            android:configChanges="keyboardHidden|orientation"
            android:label="@string/app_name"
            android:screenOrientation="portrait">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        //==========================================================================================
        //Main screen
        <activity
            android:name="lukelunix.ntnugo.mainmenu.MainActivity"
            android:configChanges="keyboardHidden|orientation"
            android:label="@string/activity_name_main_menu"
            android:screenOrientation="portrait">
            <intent-filter>
                <action android:name="lukelunix.ntnumple.MAINACTIVITY" />

                <category android:name="android.intent.category.DEFAULT" />
            </intent-filter>
        </activity>
        <activity
            android:name="lukelunix.ntnugo.coursehelp.CoursehelpActivity"
            android:configChanges="keyboardHidden|orientation"
            android:label="@string/activity_name_course_help"
            android:screenOrientation="portrait"
            android:theme="@style/AppThemeCourse" />
        <activity
            android:name="lukelunix.ntnugo.contact.ContactActivity"
            android:configChanges="keyboardHidden|orientation"
            android:label="@string/activity_name_facility_info"
            android:screenOrientation="portrait"
            android:theme="@style/AppThemeContact" />
        <activity
            android:name="lukelunix.ntnugo.links.LinksActivity"
            android:configChanges="keyboardHidden|orientation"
            android:label="@string/activity_name_tools"
            android:screenOrientation="portrait"
            android:theme="@style/AppThemeLinks" />
        //==========================================================================================
        //Course Help Menu
        <activity
            android:name="lukelunix.ntnugo.coursehelp.classmate.CourseratingActivity"
            android:configChanges="keyboardHidden|orientation"
            android:label="@string/activity_name_courserating"
            android:screenOrientation="portrait"
            android:theme="@style/AppThemeCourse"/>
        <activity
            android:name="lukelunix.ntnugo.coursehelp.courses.CoursesActivity"
            android:configChanges="keyboardHidden|orientation"
            android:label="@string/activity_name_courses"
            android:screenOrientation="portrait"
            android:theme="@style/AppThemeCourse"/>
        <activity
            android:name="lukelunix.ntnugo.coursehelp.classmate.ClassmateActivity"
            android:configChanges="keyboardHidden|orientation"
            android:label="@string/activity_name_classmate"
            android:screenOrientation="portrait"
            android:theme="@style/AppThemeCourse"/>
        <activity
            android:name="lukelunix.ntnugo.coursehelp.forum.ForumActivity"
            android:configChanges="keyboardHidden|orientation"
            android:label="@string/activity_name_forum"
            android:screenOrientation="portrait"
            android:theme="@style/AppThemeCourse"/>
        <activity
            android:name="lukelunix.ntnugo.coursehelp.faqaboutcourses.FAQactivity"
            android:configChanges="keyboardHidden|orientation"
            android:label="@string/activity_name_faq"
            android:screenOrientation="portrait"
            android:theme="@style/AppThemeCourse"/>

        //==========================================================================================
        //Contact Menu
        <activity
            android:name="lukelunix.ntnugo.contact.faculties.FacultiesActivity"
            android:configChanges="keyboardHidden|orientation"
            android:label="@string/activity_name_faculty"
            android:theme="@style/AppThemeContact"
            android:screenOrientation="portrait" />
        <activity
            android:name="lukelunix.ntnugo.contact.libraries.LibrariesActivity"
            android:configChanges="keyboardHidden|orientation"
            android:label="@string/activity_name_library"
            android:theme="@style/AppThemeContact"
            android:screenOrientation="portrait" />
        <activity
            android:name="lukelunix.ntnugo.contact.orakel.OrakelActivity"
            android:configChanges="keyboardHidden|orientation"
            android:label="@string/activity_name_orakel"
            android:theme="@style/AppThemeContact"
            android:screenOrientation="portrait" />
        <activity
            android:name="lukelunix.ntnugo.contact.studentservice.StudentserviceActivity"
            android:configChanges="keyboardHidden|orientation"
            android:label="@string/activity_name_studentservice"
            android:theme="@style/AppThemeContact"
            android:screenOrientation="portrait" />
        <activity
            android:name="lukelunix.ntnugo.contact.akademika.AkademikaActivity"
            android:configChanges="keyboardHidden|orientation"
            android:label="@string/activity_name_akademika"
            android:theme="@style/AppThemeContact"
            android:screenOrientation="portrait" />
        <activity
            android:name="lukelunix.ntnugo.contact.sit.SiTActivity"
            android:configChanges="keyboardHidden|orientation"
            android:label="@string/activity_name_sit"
            android:theme="@style/AppThemeContact"
            android:screenOrientation="portrait" />
        //==========================================================================================
        //To-do List
        <activity
            android:name="lukelunix.ntnugo.todolist.TodoListActivity"
            android:configChanges="keyboardHidden|orientation"
            android:label="@string/activity_name_todolist"
            android:screenOrientation="portrait"
            android:theme="@style/AppThemeTodoList" />
        //==========================================================================================
        //Links Menu
        <activity
            android:name="lukelunix.ntnugo.links.roomreservation.RoomreservationActivity"
            android:configChanges="keyboardHidden|orientation"
            android:label="Room Reservation"
            android:screenOrientation="portrait"
            android:theme="@style/AppThemeLinks" />
        <activity
            android:name="lukelunix.ntnugo.links.mazemap.MazemapActivity"
            android:configChanges="keyboardHidden|orientation"
            android:label="@string/activity_name_mazemap"
            android:screenOrientation="portrait"
            android:theme="@style/AppThemeLinks" />
        <activity
            android:name="lukelunix.ntnugo.links.kahoot.KahootActivity"
            android:configChanges="keyboardHidden|orientation"
            android:label="@string/activity_name_kahoot"
            android:screenOrientation="portrait"
            android:theme="@style/AppThemeLinks" />
        <activity
            android:name="lukelunix.ntnugo.links.innsida.InnsidaActivity"
            android:configChanges="keyboardHidden|orientation"
            android:label="Innsida"
            android:screenOrientation="portrait"
            android:theme="@style/AppThemeLinks" />
        //==========================================================================================
        //Popup Menu
        <activity
            android:name="lukelunix.ntnugo.todolist.Popup"
            android:configChanges="keyboardHidden|orientation"
            android:theme="@style/AppTheme.Popup"
            android:screenOrientation="portrait" />

        //Feedback in menu
        <activity
            android:name="lukelunix.ntnugo.feedback.FeedbackInMenu"
            android:configChanges="keyboardHidden|orientation"
            android:screenOrientation="portrait"
            android:theme="@style/AppTheme.Popup"/>
    </application>

</manifest>
